name: Lesson 02 - local, global env vars, job outputs

on:
  push:
    branches:
      - main
      - develop

env:
  PROJECT_NAME: 'my project alpha'
  WORKFLOW_RUN_ID: ${{ github.run_id }}
  DEFAULT_TEST_RUNNER: 'kyawswartun test'

jobs:
  prepare-config:
    name: Prepare Configuration
    runs-on: ubuntu-latest
    outputs:
      test_command: ${{ steps.set_output.outputs.configured_command }}
      config_version: ${{ steps.set_output.outputs.config_version }}
    env:
      BUILD_ENV_STAGE: 'staging'
      TEST_FRAMEWORK_FLAG: '--silent'
    steps:
      - name: Display All Environment Variables
        run: |
          echo "--- Workflow-Level Vars ---"
          echo "Project: $PROJECT_NAME"
          echo "Run ID: $WORKFLOW_RUN_ID"
          
          echo "--- Job-Level Vars ---"
          echo "Stage: $BUILD_ENV_STAGE"
          echo "Flag: $TEST_FRAMEWORK_FLAG"
          
          echo "--- Default GHA Vars ---"
          echo "Runner OS: $RUNNER_OS"
          echo "---------------------------"

      - name: Set Job Outputs and Step Environment Variable
        id: set_output
        run: |
          echo "MY_CONFIG_VERSION=v1.2.3" >> $GITHUB_ENV
          echo "configured_command=$DEFAULT_TEST_RUNNER --coverage $TEST_FRAMEWORK_FLAG" >> $GITHUB_OUTPUT
          echo "configured_command= hello configured command" >> $GITHUB_OUTPUT
          echo "config_version=v1.2.3" >> $GITHUB_OUTPUT
      
      - name: Use Step Environment Variable
        run: echo "Configuration version $MY_CONFIG_VERSION"

  run-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    needs: prepare-config
    steps:
      - name: Run Tests with Configured Command
        run: |
          echo "Using test command: ${{ needs.prepare-config.outputs.test_command }}"
          echo "Using Configured command: ${{ needs.prepare-config.outputs.configured_command }}"
          echo "Using config version: ${{ needs.prepare-config.outputs.config_version }}"